.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.brand{:href => "#"}
        %small
          %i.icon-leaf
          My App
      %ul.nav.ace-nav.pull-right
        %li.light-blue.user-profile
          %a.user-menu.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %img.nav-user-photo{:alt => "Jason's Photo", :src => "assets/avatars/user.jpg"}/
            %span#user_info
              %small Welcome,
              #{current_user.email}
            %i.icon-caret-down
          %ul#user_menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-closer
            %li
              %a{:href => "#"}
                %i.icon-cog
                Settings
            %li
              %a{:href => "#"}
                %i.icon-user
                Profile
            %li.divider
            %li
              %a{:href => destroy_user_session_path, "data-method" => "delete"}
                %i.icon-off
                Logout
      / /.ace-nav
    / /.container-fluid
  / /.navbar-inner
/ /.navbar
#main-container.container-fluid
  %a#menu-toggler{:href => "#"}
    %span
  / menu toggler

  #main-content.clearfix{:style => "margin-left:0"}
    #breadcrumbs
      %ul.breadcrumb
        %li
          %i.icon-home
          %a{:href => "#"} Home
          %span.divider
            %i.icon-angle-right
        %li.active Index Page
      / .breadcrumb
      #nav-search
        %form.form-search
          %span.input-icon
            %input#nav-search-input.input-small.search-query{:autocomplete => "off", :placeholder => "Search ...", :type => "text"}/
            %i#nav-search-icon.icon-search
      / #nav-search
    / #breadcrumbs
    #page-content.clearfix
      .row-fluid
        = render :partial => "pusher"
        / PAGE CONTENT BEGINS HERE
        / PAGE CONTENT ENDS HERE
      / /row
    / /#page-content
  / #main-content
/ /.fluid-container#main-container
%a#btn-scroll-up.btn.btn-small.btn-inverse{:href => "#"}
  %i.icon-double-angle-up.icon-only